.hardcode{
    color:blue;
    background-color: aqua;
}

.hexa{
    color:blanchedalmond;
    background-color: black;
}

.decimal{
    color:rgb(73, 0, 128);
    background-color:blueviolet;
}


#kundhana{
    color:black;
    background-color: aqua;
}