#text{
    text-align:justify;
/* left(default)/right/centre/justify*/
    text-decoration:underline;
    text-transform:capitalize;
    /* lowercase/uppercase/capitalize*/
}
 

a{
    text-decoration: none;
}    


h1{
    color:black;
    text-align: center;
    text-shadow:10px 10px 8px grey;
}

#font{
    font-size: 25px;
    font-weight: bolder;
    font-style:italic ;
    font-family: cursive;
}
